<div class="icons">
  {% if site.social.scholar %}<a href="{{ site.social.scholar }}">Google Scholar</a>{% endif %}
  {% if site.social.repec %}<a href="{{ site.social.repec }}">RePEc</a>{% endif %}
  {% if site.social.github %}<a href="https://github.com/{{ site.social.github }}">GitHub</a>{% endif %}
  {% if site.social.linkedin %}<a href="{{ site.social.linkedin }}">LinkedIn</a>{% endif %}
  {% if site.social.twitter %}<a href="https://x.com/{{ site.social.twitter }}">X</a>{% endif %}
  {% if site.social.cv %}<a href="{{ site.social.cv | relative_url }}">CV (PDF)</a>{% endif %}
</div>
